[submodule "First-Year/Snake-Game-CPP"]
	path = First-Year/Snake-Game-CPP
	url = https://github.com/mohyware/Snake-Game-CPP
[submodule "First-Year/Clinic-System"]
	path = First-Year/Clinic-System
	url = https://github.com/AnonMiraj/Clinic-System.git
[submodule "Third-Year/Note-Taker"]
	path = Third-Year/Note-Taker
	url = https://github.com/mohyware/Note-Taker.git
[submodule "Fourth-Year/ciphers-visualizer"]
	path = Fourth-Year/ciphers-visualizer
	url = https://github.com/MoX678/ciphers-visualizer.git
